/* Small tweaks on top of Bootstrap */
body { font-feature-settings: "tnum"; } /* nicer numeric alignment when supported */
table td, table th { white-space: nowrap; }
table td:first-child, table th:first-child { white-space: normal; }
